/* General styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 50px;
}

/* Button styling */
#generate-quote {
  border: none;
  background-color: blue;
  color: white;
  font-weight: bold;
  border-radius: 30%;
  cursor: pointer;
  transition: background-color 0.5s;
  padding: 15px;
}

#generate-quote:hover {
  background-color: green;
  transition: background-color 0.5s;
}
